html {
	min-height: 100%;
	height: 100%;
	background: #ccffcc;
	font-family: 'PT Sans Narrow', sans-serif;
}

head {
	height: auto;
}

header {
	background: #6395F2;
}

h1 {
	margin: 0;
	text-align: center;
}

.wrap {
	position: relative;
	width: 80%;
	margin: 0 auto;
	background: ;
	height: 100%;
}

body {
	margin: 0;
	background: ;
	height: 100%;
}

p {
	margin: 10px;
	text-align: justify;
}

h2 {
	margin: 10px;
	text-align: center;
}

.image {
	text-align: center;
	margin: 10px;
	background: ;
	padding: ;
}

img {
	height: auto;
    width: 500px;	
}

.content {
	background: ;
	min-height:50%;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.navigation {
	background: ;
	width: 100%;
	height: auto;
	margin-top: ;
	margin-bottom: ;
}

.nav_button {
	margin: 10px;
	color: #091834;
	text-decoration: none;
}

a:hover, a:active {
	color: #1258DC;
	text-decoration: none;
}

footer {
	height: auto;
	position: fixed;
	bottom: 0px; 
	width: 80%;
	background-color: #6395F2;
	opacity: 0.8;
}

.footer-paragraph {
	margin: 0px;
	text-align: center;
}
